*{
    margin: 0;
    padding: 0;
    font-family: nunito;
    scroll-behavior: smooth;
}
header{
    position: sticky; 
    top: 0;
    z-index: 1;
}
nav{
    background-color: black;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.597);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 6rem;
}
nav h2{
    cursor: pointer;
    font-size: 30px;
    padding: 5px 0 2;
}
nav ul{
    list-style-type: none;
    gap: 6rem;
    display: flex;
}
nav li{
    padding: 10px 0;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 21px;
    border-bottom: 0px solid white;
    position: relative;
    padding-bottom: 5px;
}
nav a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    border-radius: 100px;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}
nav a:hover::after {
    width: 100%;
}
.black{
    color: grey;
}
.hero{
    display: flex;
    justify-content: center;
    margin: 100px auto 120px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 40px 0px;
}
.hero-text{
    padding: 30px 0px 50px;
    width: 40%;
    color: black;
    margin-left: 10px;
}
.hero-text h2{
    font-size: 50px;
}
.hero-text p{
    margin: 15px 0 0;
    font-size: 15px;
}
.hero-image{
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.hero-image img{
    width: 200px;
    border-radius: 50px;
} 
hr{
    border-top: 3px solid black;
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
}
.hobbies {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 140px 0;
}
.hoby-item{
    display: flex;
    justify-content: left;
    float: left;
    gap: 4rem;
    margin: 40px 0;
    width: 80%;
}
.hoby-main h1{
    font-size: 40px;
}
.hoby-main{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: 40px 0;
}
.hoby-main{
    display: flex;
    justify-content: center;
}
.hoby-text{
    margin: 15px 0;
}
.hoby-text a{
    color: black;
    text-decoration: none;
}
.hoby-text a:hover{
    color: rgb(117, 112, 112);
    text-decoration: underline;
}
.hoby-text p{
    margin: 15px 0;
}
.hoby-img img{
    width: 300px;
    height: 200px;
    box-shadow: 1px 2px 10px 1px ;
    border-radius: 40px;
    object-fit: cover;
}
footer{
    background-color: #212529;
    height: 60px;
    color: white;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.597);
    text-align: center;
    padding: 50px 10px 0;
}
.anime{
    margin: 100px 0 0;

}
.animej{
    display: flex;
    justify-content: center;
    margin: 0 0 70px;
}
.animej h2{
    font-size: 40px;
}
.anime-list-container{
    display: flex;
    justify-content: center;
}
.anime-img{
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.anime-img img{
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.597);
    width: 190px;
    height: 218px;
    border-radius: 30px;

    position: relative; 
}
.anime-img img:hover{
    bottom: 10px;
    box-shadow: 1px 2px 20px 1px black;

}
.center2{
    display: flex;
    justify-content: center;
    margin: 10px 0 100px;
}
.anime-info {
    margin: 100px auto 100px;
    display: flex;
    justify-content: center;
}
.ainfo{
    font-size: 25px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    gap: 3.6rem;
    padding: 0 35px;
}
.ainfo hr{
    width: 74%;
    margin: 10px auto;
}
.anime-list{
    display: flex;
    justify-content: center;
}
.anime-rate{
    width: 70%;
    border-radius: 20px;
    padding: 20px 5px;
    box-shadow: 1px 2px 15px 1px;
}
.animerate2{
    display: flex;
    justify-content: center;
    gap: 3.3rem;
    padding: 0 20px;
}
.text-info{
    width: 70%;
}
.img-anime img{
    width: 220px;
    height: 270px;
    border-radius: 30px;
    box-shadow: 1px 2px 10px 1px black;
    margin: 20px 0px;
}
.rating img{
    width: 30px;
}
.judul{
    text-align: center;
    margin: 0 0 80px;
    display: flex;
    justify-content: center;
}
.judul h2{
    font-size: 40px;
}
.vidio{
    text-align: center;
}
.vidio h1{
    margin: 0 0 20px;
}
video{
    width: 500px;
    border-radius: 20px;
    box-shadow: 1px 2px 15px 1px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin: 40px 0;
}
.about{
    
    margin: 100px 0 40px;
}